In [89]:
import pandas as pd
import statsmodels.formula.api as smf
import statsmodels as sm

In [45]:
df = pd.read_csv("C:\\Users\\ljens\\Downloads\\Logistic  Regression Data.csv")

In [46]:
df.head()

  BMI_Categories  SEX VEGESU1  RFSMOK3  HLTHPLN1
0              0    0       3        0         1
1              1    1    1.17        1         1
2              0    1    3.29        0         1
3              1    1    2.58        0         1
4              1    0    2.29        0         1

In [47]:
df.describe()

                SEX       RFSMOK3      HLTHPLN1
count  13375.000000  13375.000000  13375.000000
mean       0.448748      0.539589      0.949084
std        0.528860      1.847700      0.513051
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      1.000000
50%        0.000000      0.000000      1.000000
75%        1.000000      0.000000      1.000000
max        9.000000      9.000000      9.000000

In [54]:
df = df.loc[df['VEGESU1']!=' ']

In [56]:
df = df.loc[df['BMI_Categories']!=' ']

In [80]:
df['BMI_Categories'] = df['BMI_Categories'].astype('int')

In [95]:
df['VEGESU1'] = df['VEGESU1'].astype('float')

In [81]:
df['BMI_Categories']

0        0
1        1
2        0
3        1
4        1
        ..
13370    1
13371    0
13372    1
13373    1
13374    1
Name: BMI_Categories, Length: 11190, dtype: int32

In [96]:
mod = smf.logit(
                formula= 'BMI_Categories ~ SEX + VEGESU1 + RFSMOK3 + HLTHPLN1', 
                data = df
                ).fit()

Optimization terminated successfully.
         Current function value: 0.621402
         Iterations 5

In [97]:
mod.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:         BMI_Categories   No. Observations:                11190
Model:                          Logit   Df Residuals:                    11185
Method:                           MLE   Df Model:                            4
Date:                Mon, 18 Sep 2023   Pseudo R-squ.:                 0.01159
Time:                        13:25:31   Log-Likelihood:                -6953.5
converged:                       True   LL-Null:                       -7035.0
Covariance Type:            nonrobust   LLR p-value:                 3.225e-34
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.7310      0.053     13.892      0.000       0.628       0.834
SEX            0.4716      0.041     11.445      0.000       0.391       0.552
VEGESU1       -0.0112      0.007     -1.496      0.135      -0.026       0.003
RFSMOK3       -0.0945      0.028     -3.340      0.001      -0.150      -0.039
HLTHPLN1      -0.1621      0.044     -3.696      0.000      -0.248      -0.076
==============================================================================
"""

In [99]:
import math

In [100]:
mod.params.apply(lambda x: math.exp(x))

Intercept    2.077246
SEX          1.602519
VEGESU1      0.988854
RFSMOK3      0.909859
HLTHPLN1     0.850318
dtype: float64

In [110]:
confidence = mod.conf_int()

In [112]:
for col in confidence.columns:
    confidence[col] = confidence[col].apply(lambda x: math.exp(x))

In [113]:
confidence

                  0         1
Intercept  1.873677  2.302932
SEX        1.478186  1.737310
VEGESU1    0.974434  1.003487
RFSMOK3    0.860790  0.961724
HLTHPLN1   0.780262  0.926664

In [117]:
mod2 = smf.logit(
                formula= 'BMI_Categories ~ SEX + VEGESU1 + RFSMOK3 + HLTHPLN1 + 1', 
                data = df
                ).fit()

Optimization terminated successfully.
         Current function value: 0.621402
         Iterations 5

In [118]:
mod2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:         BMI_Categories   No. Observations:                11190
Model:                          Logit   Df Residuals:                    11185
Method:                           MLE   Df Model:                            4
Date:                Mon, 18 Sep 2023   Pseudo R-squ.:                 0.01159
Time:                        13:49:48   Log-Likelihood:                -6953.5
converged:                       True   LL-Null:                       -7035.0
Covariance Type:            nonrobust   LLR p-value:                 3.225e-34
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.7310      0.053     13.892      0.000       0.628       0.834
SEX            0.4716      0.041     11.445      0.000       0.391       0.552
VEGESU1       -0.0112      0.007     -1.496      0.135      -0.026       0.003
RFSMOK3       -0.0945      0.028     -3.340      0.001      -0.150      -0.039
HLTHPLN1      -0.1621      0.044     -3.696      0.000      -0.248      -0.076
==============================================================================
"""

In [119]:
mod2.params.apply(lambda x: math.exp(x))

Intercept    2.077246
SEX          1.602519
VEGESU1      0.988854
RFSMOK3      0.909859
HLTHPLN1     0.850318
dtype: float64

In [120]:
df

       BMI_Categories  SEX  VEGESU1  RFSMOK3  HLTHPLN1
0                   0    0     3.00        0         1
1                   1    1     1.17        1         1
2                   0    1     3.29        0         1
3                   1    1     2.58        0         1
4                   1    0     2.29        0         1
...               ...  ...      ...      ...       ...
13370               1    0     1.13        0         1
13371               0    0     0.84        0         1
13372               1    1     0.45        0         1
13373               1    0     3.04        0         1
13374               1    1     1.33        0         1

[11190 rows x 5 columns]

In [123]:
df = df.loc[df['SEX']!=9]
df = df.loc[df['RFSMOK3']!=9]
df = df.loc[df['HLTHPLN1']!=9]
df = df.loc[df['HLTHPLN1']!=7]

In [124]:
mod3 = smf.logit(
                formula= 'BMI_Categories ~ SEX + VEGESU1 + RFSMOK3 + HLTHPLN1 + 1', 
                data = df
                ).fit()

Optimization terminated successfully.
         Current function value: 0.619258
         Iterations 5

In [125]:
mod3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:         BMI_Categories   No. Observations:                11102
Model:                          Logit   Df Residuals:                    11097
Method:                           MLE   Df Model:                            4
Date:                Mon, 18 Sep 2023   Pseudo R-squ.:                 0.01346
Time:                        15:53:50   Log-Likelihood:                -6875.0
converged:                       True   LL-Null:                       -6968.8
Covariance Type:            nonrobust   LLR p-value:                 1.762e-39
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.5967      0.082      7.261      0.000       0.436       0.758
SEX            0.5167      0.042     12.390      0.000       0.435       0.598
VEGESU1       -0.0122      0.008     -1.627      0.104      -0.027       0.003
RFSMOK3       -0.3247      0.056     -5.825      0.000      -0.434      -0.215
HLTHPLN1       0.0028      0.080      0.035      0.972      -0.154       0.159
==============================================================================
"""

In [127]:

mod3.params.apply(lambda x: math.exp(x))

Intercept    1.816096
SEX          1.676427
VEGESU1      0.987841
RFSMOK3      0.722754
HLTHPLN1     1.002821
dtype: float64