## Makin' Tables

Something R does better than Python

In [4]:
library(flextable)
library(tidyverse)

Warning message:
"package 'flextable' was built under R version 4.2.3"

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.0     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.1     ✔ tibble    3.1.8
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ purrr::compose() masks flextable::compose()
✖ dplyr::filter()  masks stats::filter()
✖ dplyr::lag()     masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [5]:
pretty.means <- read.csv('pretty means .csv')

In [6]:
pretty.means

   X           January February March April May  June July August September
1  Cases       1720    1842     1730   875   865  150    5   29    742
2  EDVisits     108     126      113    66    57   35   28   27     46
3  Wind          10      10       10    11     9    8    7    7      8
4  Precip (in)    0       0        0     0     0    0    0    0      0
5  Snow (in)      1       1        0     0     0    0    0    0      0
6  Temp (F)      25      25       36    48    60   69   74   71     64
7  AQI           41      42       43    47    52   54   55   47     40
8  CO             5       5        4     4     3    4    4    4      4
9  Ozone         18      22       28    45    51   51   53   43     36
10 PM10           2       2        2     2     3    3    3    3      3
11 PM2.5         37      36       35    26    28   32   34   33     29
12 NO2           27      26       29    14    12   11   13   15     16
13 Flu GS      1272    1104      765  1184   806  535  603  636    923
14 Cough GS     670     661      593   526   481  451  442  440    539
15 Cold GS     3295    3053     2773  2704  2610 2422 2460 2445   2657
   October November December
1  1412    1246     1017
2    78      75      112
3     9      10       10
4     0       0        0
5     0       0        1
6    51      39       30
7    32      39       39
8     5       5        5
9    19      17       17
10    2       2        2
11   26      34       34
12   18      17       17
13 1556    1175     1055
14  581     643      746
15 2823    3101     3475

In [8]:
ft <- flextable(pretty.means)

In [12]:
ft <- theme_vanilla(ft)
ft <- set_caption(ft, caption = 'Continuous Variable Means')
print(ft)

a flextable object.
col_keys: `X`, `January`, `February`, `March`, `April`, `May`, `June`, `July`, `August`, `September`, `October`, `November`, `December`
header has 1 row(s)
body has 15 row(s)
original dataset sample:
            X January February March April May June July August September
1       Cases    1720     1842  1730   875 865  150    5     29       742
2    EDVisits     108      126   113    66  57   35   28     27        46
3        Wind      10       10    10    11   9    8    7      7         8
4 Precip (in)       0        0     0     0   0    0    0      0         0
5   Snow (in)       1        1     0     0   0    0    0      0         0
  October November December
1    1412     1246     1017
2      78       75      112
3       9       10       10
4       0        0        0
5       0        0        1

In [13]:
install.packages("kableExtra")

Installing package into 'C:/Users/ljens/AppData/Local/R/win-library/4.2'
(as 'lib' is unspecified)

also installing the dependencies 'webshot', 'svglite'

  There is a binary version available but the source version is later:
        binary source needs_compilation
svglite  2.1.2  2.1.3              TRUE

  Binaries will be installed
package 'webshot' successfully unpacked and MD5 sums checked
package 'svglite' successfully unpacked and MD5 sums checked
package 'kableExtra' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\ljens\AppData\Local\Temp\RtmpGywxf0\downloaded_packages

In [6]:
library(kableExtra)

Warning message:
"package 'kableExtra' was built under R version 4.2.3"

Attaching package: 'kableExtra'


The following object is masked from 'package:dplyr':

    group_rows


The following objects are masked from 'package:flextable':

    as_image, footnote

In [15]:
kbl(pretty.means)

<table>
 <thead>
  <tr>
   <th style="text-align:left;"> X </th>
   <th style="text-align:right;"> January </th>
   <th style="text-align:right;"> February </th>
   <th style="text-align:right;"> March </th>
   <th style="text-align:right;"> April </th>
   <th style="text-align:right;"> May </th>
   <th style="text-align:right;"> June </th>
   <th style="text-align:right;"> July </th>
   <th style="text-align:right;"> August </th>
   <th style="text-align:right;"> September </th>
   <th style="text-align:right;"> October </th>
   <th style="text-align:right;"> November </th>
   <th style="text-align:right;"> December </th>
  </tr>
 </thead>
<tbody>
  <tr>
   <td style="text-align:left;"> Cases </td>
   <td style="text-align:right;"> 1720 </td>
   <td style="text-align:right;"> 1842 </td>
   <td style="text-align:right;"> 1730 </td>
   <td style="text-align:right;"> 875 </td>
   <td style="text-align:right;"> 865 </td>
   <td style="text-align:right;"> 150 </td>
   <td style="text-align:right;"> 5 </td>
   <td style="text-align:right;"> 29 </td>
   <td style="text-align:right;"> 742 </td>
   <td style="text-align:right;"> 1412 </td>
   <td style="text-align:right;"> 1246 </td>
   <td style="text-align:right;"> 1017 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> EDVisits </td>
   <td style="text-align:right;"> 108 </td>
   <td style="text-align:right;"> 126 </td>
   <td style="text-align:right;"> 113 </td>
   <td style="text-align:right;"> 66 </td>
   <td style="text-align:right;"> 57 </td>
   <td style="text-align:right;"> 35 </td>
   <td style="text-align:right;"> 28 </td>
   <td style="text-align:right;"> 27 </td>
   <td style="text-align:right;"> 46 </td>
   <td style="text-align:right;"> 78 </td>
   <td style="text-align:right;"> 75 </td>
   <td style="text-align:right;"> 112 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Wind </td>
   <td style="text-align:right;"> 10 </td>
   <td style="text-align:right;"> 10 </td>
   <td style="text-align:right;"> 10 </td>
   <td style="text-align:right;"> 11 </td>
   <td style="text-align:right;"> 9 </td>
   <td style="text-align:right;"> 8 </td>
   <td style="text-align:right;"> 7 </td>
   <td style="text-align:right;"> 7 </td>
   <td style="text-align:right;"> 8 </td>
   <td style="text-align:right;"> 9 </td>
   <td style="text-align:right;"> 10 </td>
   <td style="text-align:right;"> 10 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Precip (in) </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Snow (in) </td>
   <td style="text-align:right;"> 1 </td>
   <td style="text-align:right;"> 1 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 1 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Temp (F) </td>
   <td style="text-align:right;"> 25 </td>
   <td style="text-align:right;"> 25 </td>
   <td style="text-align:right;"> 36 </td>
   <td style="text-align:right;"> 48 </td>
   <td style="text-align:right;"> 60 </td>
   <td style="text-align:right;"> 69 </td>
   <td style="text-align:right;"> 74 </td>
   <td style="text-align:right;"> 71 </td>
   <td style="text-align:right;"> 64 </td>
   <td style="text-align:right;"> 51 </td>
   <td style="text-align:right;"> 39 </td>
   <td style="text-align:right;"> 30 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> AQI </td>
   <td style="text-align:right;"> 41 </td>
   <td style="text-align:right;"> 42 </td>
   <td style="text-align:right;"> 43 </td>
   <td style="text-align:right;"> 47 </td>
   <td style="text-align:right;"> 52 </td>
   <td style="text-align:right;"> 54 </td>
   <td style="text-align:right;"> 55 </td>
   <td style="text-align:right;"> 47 </td>
   <td style="text-align:right;"> 40 </td>
   <td style="text-align:right;"> 32 </td>
   <td style="text-align:right;"> 39 </td>
   <td style="text-align:right;"> 39 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> CO </td>
   <td style="text-align:right;"> 5 </td>
   <td style="text-align:right;"> 5 </td>
   <td style="text-align:right;"> 4 </td>
   <td style="text-align:right;"> 4 </td>
   <td style="text-align:right;"> 3 </td>
   <td style="text-align:right;"> 4 </td>
   <td style="text-align:right;"> 4 </td>
   <td style="text-align:right;"> 4 </td>
   <td style="text-align:right;"> 4 </td>
   <td style="text-align:right;"> 5 </td>
   <td style="text-align:right;"> 5 </td>
   <td style="text-align:right;"> 5 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Ozone </td>
   <td style="text-align:right;"> 18 </td>
   <td style="text-align:right;"> 22 </td>
   <td style="text-align:right;"> 28 </td>
   <td style="text-align:right;"> 45 </td>
   <td style="text-align:right;"> 51 </td>
   <td style="text-align:right;"> 51 </td>
   <td style="text-align:right;"> 53 </td>
   <td style="text-align:right;"> 43 </td>
   <td style="text-align:right;"> 36 </td>
   <td style="text-align:right;"> 19 </td>
   <td style="text-align:right;"> 17 </td>
   <td style="text-align:right;"> 17 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> PM10 </td>
   <td style="text-align:right;"> 2 </td>
   <td style="text-align:right;"> 2 </td>
   <td style="text-align:right;"> 2 </td>
   <td style="text-align:right;"> 2 </td>
   <td style="text-align:right;"> 3 </td>
   <td style="text-align:right;"> 3 </td>
   <td style="text-align:right;"> 3 </td>
   <td style="text-align:right;"> 3 </td>
   <td style="text-align:right;"> 3 </td>
   <td style="text-align:right;"> 2 </td>
   <td style="text-align:right;"> 2 </td>
   <td style="text-align:right;"> 2 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> PM2.5 </td>
   <td style="text-align:right;"> 37 </td>
   <td style="text-align:right;"> 36 </td>
   <td style="text-align:right;"> 35 </td>
   <td style="text-align:right;"> 26 </td>
   <td style="text-align:right;"> 28 </td>
   <td style="text-align:right;"> 32 </td>
   <td style="text-align:right;"> 34 </td>
   <td style="text-align:right;"> 33 </td>
   <td style="text-align:right;"> 29 </td>
   <td style="text-align:right;"> 26 </td>
   <td style="text-align:right;"> 34 </td>
   <td style="text-align:right;"> 34 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> NO2 </td>
   <td style="text-align:right;"> 27 </td>
   <td style="text-align:right;"> 26 </td>
   <td style="text-align:right;"> 29 </td>
   <td style="text-align:right;"> 14 </td>
   <td style="text-align:right;"> 12 </td>
   <td style="text-align:right;"> 11 </td>
   <td style="text-align:right;"> 13 </td>
   <td style="text-align:right;"> 15 </td>
   <td style="text-align:right;"> 16 </td>
   <td style="text-align:right;"> 18 </td>
   <td style="text-align:right;"> 17 </td>
   <td style="text-align:right;"> 17 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Flu GS </td>
   <td style="text-align:right;"> 1272 </td>
   <td style="text-align:right;"> 1104 </td>
   <td style="text-align:right;"> 765 </td>
   <td style="text-align:right;"> 1184 </td>
   <td style="text-align:right;"> 806 </td>
   <td style="text-align:right;"> 535 </td>
   <td style="text-align:right;"> 603 </td>
   <td style="text-align:right;"> 636 </td>
   <td style="text-align:right;"> 923 </td>
   <td style="text-align:right;"> 1556 </td>
   <td style="text-align:right;"> 1175 </td>
   <td style="text-align:right;"> 1055 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Cough GS </td>
   <td style="text-align:right;"> 670 </td>
   <td style="text-align:right;"> 661 </td>
   <td style="text-align:right;"> 593 </td>
   <td style="text-align:right;"> 526 </td>
   <td style="text-align:right;"> 481 </td>
   <td style="text-align:right;"> 451 </td>
   <td style="text-align:right;"> 442 </td>
   <td style="text-align:right;"> 440 </td>
   <td style="text-align:right;"> 539 </td>
   <td style="text-align:right;"> 581 </td>
   <td style="text-align:right;"> 643 </td>
   <td style="text-align:right;"> 746 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Cold GS </td>
   <td style="text-align:right;"> 3295 </td>
   <td style="text-align:right;"> 3053 </td>
   <td style="text-align:right;"> 2773 </td>
   <td style="text-align:right;"> 2704 </td>
   <td style="text-align:right;"> 2610 </td>
   <td style="text-align:right;"> 2422 </td>
   <td style="text-align:right;"> 2460 </td>
   <td style="text-align:right;"> 2445 </td>
   <td style="text-align:right;"> 2657 </td>
   <td style="text-align:right;"> 2823 </td>
   <td style="text-align:right;"> 3101 </td>
   <td style="text-align:right;"> 3475 </td>
  </tr>
</tbody>
</table>

In [18]:
pretty.means |> kbl() |> kable_minimal()

<table class=" lightable-minimal" style='font-family: "Trebuchet MS", verdana, sans-serif; margin-left: auto; margin-right: auto;'>
 <thead>
  <tr>
   <th style="text-align:left;"> X </th>
   <th style="text-align:right;"> January </th>
   <th style="text-align:right;"> February </th>
   <th style="text-align:right;"> March </th>
   <th style="text-align:right;"> April </th>
   <th style="text-align:right;"> May </th>
   <th style="text-align:right;"> June </th>
   <th style="text-align:right;"> July </th>
   <th style="text-align:right;"> August </th>
   <th style="text-align:right;"> September </th>
   <th style="text-align:right;"> October </th>
   <th style="text-align:right;"> November </th>
   <th style="text-align:right;"> December </th>
  </tr>
 </thead>
<tbody>
  <tr>
   <td style="text-align:left;"> Cases </td>
   <td style="text-align:right;"> 1720 </td>
   <td style="text-align:right;"> 1842 </td>
   <td style="text-align:right;"> 1730 </td>
   <td style="text-align:right;"> 875 </td>
   <td style="text-align:right;"> 865 </td>
   <td style="text-align:right;"> 150 </td>
   <td style="text-align:right;"> 5 </td>
   <td style="text-align:right;"> 29 </td>
   <td style="text-align:right;"> 742 </td>
   <td style="text-align:right;"> 1412 </td>
   <td style="text-align:right;"> 1246 </td>
   <td style="text-align:right;"> 1017 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> EDVisits </td>
   <td style="text-align:right;"> 108 </td>
   <td style="text-align:right;"> 126 </td>
   <td style="text-align:right;"> 113 </td>
   <td style="text-align:right;"> 66 </td>
   <td style="text-align:right;"> 57 </td>
   <td style="text-align:right;"> 35 </td>
   <td style="text-align:right;"> 28 </td>
   <td style="text-align:right;"> 27 </td>
   <td style="text-align:right;"> 46 </td>
   <td style="text-align:right;"> 78 </td>
   <td style="text-align:right;"> 75 </td>
   <td style="text-align:right;"> 112 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Wind </td>
   <td style="text-align:right;"> 10 </td>
   <td style="text-align:right;"> 10 </td>
   <td style="text-align:right;"> 10 </td>
   <td style="text-align:right;"> 11 </td>
   <td style="text-align:right;"> 9 </td>
   <td style="text-align:right;"> 8 </td>
   <td style="text-align:right;"> 7 </td>
   <td style="text-align:right;"> 7 </td>
   <td style="text-align:right;"> 8 </td>
   <td style="text-align:right;"> 9 </td>
   <td style="text-align:right;"> 10 </td>
   <td style="text-align:right;"> 10 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Precip (in) </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Snow (in) </td>
   <td style="text-align:right;"> 1 </td>
   <td style="text-align:right;"> 1 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 0 </td>
   <td style="text-align:right;"> 1 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Temp (F) </td>
   <td style="text-align:right;"> 25 </td>
   <td style="text-align:right;"> 25 </td>
   <td style="text-align:right;"> 36 </td>
   <td style="text-align:right;"> 48 </td>
   <td style="text-align:right;"> 60 </td>
   <td style="text-align:right;"> 69 </td>
   <td style="text-align:right;"> 74 </td>
   <td style="text-align:right;"> 71 </td>
   <td style="text-align:right;"> 64 </td>
   <td style="text-align:right;"> 51 </td>
   <td style="text-align:right;"> 39 </td>
   <td style="text-align:right;"> 30 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> AQI </td>
   <td style="text-align:right;"> 41 </td>
   <td style="text-align:right;"> 42 </td>
   <td style="text-align:right;"> 43 </td>
   <td style="text-align:right;"> 47 </td>
   <td style="text-align:right;"> 52 </td>
   <td style="text-align:right;"> 54 </td>
   <td style="text-align:right;"> 55 </td>
   <td style="text-align:right;"> 47 </td>
   <td style="text-align:right;"> 40 </td>
   <td style="text-align:right;"> 32 </td>
   <td style="text-align:right;"> 39 </td>
   <td style="text-align:right;"> 39 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> CO </td>
   <td style="text-align:right;"> 5 </td>
   <td style="text-align:right;"> 5 </td>
   <td style="text-align:right;"> 4 </td>
   <td style="text-align:right;"> 4 </td>
   <td style="text-align:right;"> 3 </td>
   <td style="text-align:right;"> 4 </td>
   <td style="text-align:right;"> 4 </td>
   <td style="text-align:right;"> 4 </td>
   <td style="text-align:right;"> 4 </td>
   <td style="text-align:right;"> 5 </td>
   <td style="text-align:right;"> 5 </td>
   <td style="text-align:right;"> 5 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Ozone </td>
   <td style="text-align:right;"> 18 </td>
   <td style="text-align:right;"> 22 </td>
   <td style="text-align:right;"> 28 </td>
   <td style="text-align:right;"> 45 </td>
   <td style="text-align:right;"> 51 </td>
   <td style="text-align:right;"> 51 </td>
   <td style="text-align:right;"> 53 </td>
   <td style="text-align:right;"> 43 </td>
   <td style="text-align:right;"> 36 </td>
   <td style="text-align:right;"> 19 </td>
   <td style="text-align:right;"> 17 </td>
   <td style="text-align:right;"> 17 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> PM10 </td>
   <td style="text-align:right;"> 2 </td>
   <td style="text-align:right;"> 2 </td>
   <td style="text-align:right;"> 2 </td>
   <td style="text-align:right;"> 2 </td>
   <td style="text-align:right;"> 3 </td>
   <td style="text-align:right;"> 3 </td>
   <td style="text-align:right;"> 3 </td>
   <td style="text-align:right;"> 3 </td>
   <td style="text-align:right;"> 3 </td>
   <td style="text-align:right;"> 2 </td>
   <td style="text-align:right;"> 2 </td>
   <td style="text-align:right;"> 2 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> PM2.5 </td>
   <td style="text-align:right;"> 37 </td>
   <td style="text-align:right;"> 36 </td>
   <td style="text-align:right;"> 35 </td>
   <td style="text-align:right;"> 26 </td>
   <td style="text-align:right;"> 28 </td>
   <td style="text-align:right;"> 32 </td>
   <td style="text-align:right;"> 34 </td>
   <td style="text-align:right;"> 33 </td>
   <td style="text-align:right;"> 29 </td>
   <td style="text-align:right;"> 26 </td>
   <td style="text-align:right;"> 34 </td>
   <td style="text-align:right;"> 34 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> NO2 </td>
   <td style="text-align:right;"> 27 </td>
   <td style="text-align:right;"> 26 </td>
   <td style="text-align:right;"> 29 </td>
   <td style="text-align:right;"> 14 </td>
   <td style="text-align:right;"> 12 </td>
   <td style="text-align:right;"> 11 </td>
   <td style="text-align:right;"> 13 </td>
   <td style="text-align:right;"> 15 </td>
   <td style="text-align:right;"> 16 </td>
   <td style="text-align:right;"> 18 </td>
   <td style="text-align:right;"> 17 </td>
   <td style="text-align:right;"> 17 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Flu GS </td>
   <td style="text-align:right;"> 1272 </td>
   <td style="text-align:right;"> 1104 </td>
   <td style="text-align:right;"> 765 </td>
   <td style="text-align:right;"> 1184 </td>
   <td style="text-align:right;"> 806 </td>
   <td style="text-align:right;"> 535 </td>
   <td style="text-align:right;"> 603 </td>
   <td style="text-align:right;"> 636 </td>
   <td style="text-align:right;"> 923 </td>
   <td style="text-align:right;"> 1556 </td>
   <td style="text-align:right;"> 1175 </td>
   <td style="text-align:right;"> 1055 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Cough GS </td>
   <td style="text-align:right;"> 670 </td>
   <td style="text-align:right;"> 661 </td>
   <td style="text-align:right;"> 593 </td>
   <td style="text-align:right;"> 526 </td>
   <td style="text-align:right;"> 481 </td>
   <td style="text-align:right;"> 451 </td>
   <td style="text-align:right;"> 442 </td>
   <td style="text-align:right;"> 440 </td>
   <td style="text-align:right;"> 539 </td>
   <td style="text-align:right;"> 581 </td>
   <td style="text-align:right;"> 643 </td>
   <td style="text-align:right;"> 746 </td>
  </tr>
  <tr>
   <td style="text-align:left;"> Cold GS </td>
   <td style="text-align:right;"> 3295 </td>
   <td style="text-align:right;"> 3053 </td>
   <td style="text-align:right;"> 2773 </td>
   <td style="text-align:right;"> 2704 </td>
   <td style="text-align:right;"> 2610 </td>
   <td style="text-align:right;"> 2422 </td>
   <td style="text-align:right;"> 2460 </td>
   <td style="text-align:right;"> 2445 </td>
   <td style="text-align:right;"> 2657 </td>
   <td style="text-align:right;"> 2823 </td>
   <td style="text-align:right;"> 3101 </td>
   <td style="text-align:right;"> 3475 </td>
  </tr>
</tbody>
</table>

In [20]:
colnames(pretty.means)

 [1] "X"         "January"   "February"  "March"     "April"     "May"
 [7] "June"      "July"      "August"    "September" "October"   "November"
[13] "December"

In [25]:
pretty.means <- rename(pretty.means, 'Jan'='January','Feb'='February','Apr'='April','Jun'='June','Aug'='August','Sep'='September','Oct'='October','Nov'='November','Dec'='December')

In [41]:
pretty.means %>% kbl(caption='Continuous Variables Means') %>% kable_minimal('striped', full_width=F, html_font = 'Calibri') %>% save_kable(file='means.html')

In [50]:
rename(read.csv('0mod1.csv')[4:5], ' '='X2','  '='X3') %>% kbl(caption='Months-Only Model Fit') %>% kable_minimal('striped',full_width=F,html_font='Calibri') %>% save_kable(file='months model fit .html')

In [53]:
rename(read.csv('0mod2.csv')[4:5], ' '='X2','  '='X3') %>% kbl(caption='All-Variable Model Fit') %>% kable_minimal('striped',full_width=F,html_font='Calibri') %>% save_kable(file='all variable model fit .html')

In [54]:
read.csv('0mod3.csv')

  X X0             X1               X2                    X3
1 0 Dep. Variable: Cases              No. Observations:    752.000
2 1 Model:         AutoReg(52)        Log Likelihood      -653.568
3 2 Method:        Conditional MLE    S.D. of innovations    0.616
4 3 Date:          Mon, 11 Dec 2023   AIC                 1415.135
5 4 Time:          10:58:31           BIC                 1660.894
6 5 Sample:        07-30-2006         HQIC                1510.136
7 6                - 12-22-2019                                 NA

In [55]:
rename(read.csv('0mod3.csv')[4:5], ' '='X2','  '='X3') %>% kbl(caption='Non-Seasonal Autoreg Fit') %>% kable_minimal('striped',full_width=F,html_font='Calibri') %>% save_kable(file='nonseasonal autoreg fit .html')

In [56]:
rename(read.csv('0mod4.csv')[4:5], ' '='X2','  '='X3') %>% kbl(caption='Seasonal Autoreg Fit') %>% kable_minimal('striped',full_width=F,html_font='Calibri') %>% save_kable(file='seasonal autoreg fit .html')

In [28]:
df = read.csv('1mod1.csv')
#names(df) <- df[1,]
#df <- df[-1,-1]
#df

In [29]:
df

   X         coeff  pvals conf_lower conf_higher
1  const     -0.878 0.000 -1.066     -0.690
2  January    1.700 0.000  1.436      1.964
3  February   1.833 0.000  1.562      2.103
4  March      1.711 0.000  1.447      1.974
5  April      0.784 0.000  0.520      1.049
6  May        0.774 0.000  0.509      1.038
7  July      -0.158 0.237 -0.419      0.104
8  August    -0.131 0.323 -0.392      0.129
9  September  0.641 0.000  0.380      0.901
10 October    1.367 0.000  1.107      1.627
11 November   1.187 0.000  0.925      1.449
12 December   0.938 0.000  0.677      1.200

In [30]:
df %>% kbl(caption='Months-Only Model') %>% kable_minimal('striped',full_width=F,html_font='Calibri') %>% save_kable(file='Months Model.html')

In [23]:
df = read.csv('1mod2.csv')

df %>% kbl(caption='All-Variable Model') %>% 
kable_minimal('striped',full_width=F,html_font='Calibri') %>% 
save_kable(file='All Variable Model.html')

In [33]:
df = read.csv('1mod3.csv')

df %>% kbl(caption='Non-Seasonal Autoreg') %>% 
kable_minimal('striped',full_width=F,html_font='Calibri') %>% 
save_kable(file='Nonseasonal autoreg.html')

In [34]:
df = read.csv('1mod4.csv')

df %>% kbl(caption='Seasonal Autoreg') %>% 
kable_minimal('striped',full_width=F,html_font='Calibri') %>% 
save_kable(file='seasonal autoreg.html')

In [26]:
read.csv('vif.csv')[2:3] %>%
kbl(caption='Variance Inflation Factors') %>%
kable_minimal('striped',full_width=F, html_font='Calibri') %>%
save_kable(file='vif.html')

In [27]:
rename(read.csv('chisq.csv'),' '='X','  '='X0') %>%
kbl(caption = 'Chi-Square Test of Association') %>%
kable_minimal('striped',full_width=F,html_font='Calibri') %>%
save_kable(file='chisq.html')

In [32]:
read.csv('adf.csv') %>%
kbl(caption='Ad-Fuller Test') %>%
kable_minimal('striped',full_width=F, html_font='Calibri') %>%
save_kable(file='adf.html')

In [ ]:
read.csv('fits.csv') %>%
kbl(caption='Model Fits') %>%
kable_minimal('striped',full_width=F, html_font='Calibri') %>%
save_kable(file='fits.html')